<script>

	export let data;
	
	let toShow = data.toShow ?? 'Я хз чё тут писать, по этому напишу: "Дед попуск"';
</script>
<h1>Угадай число</h1>
<form method="POST" 
action="?/check">
	<label>
		Напиши число:
		<input type="number" name = "num" />
	</label>
	{toShow}
</form>
